<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE = edge">
    <meta name="viewport" content="width = device-width, initial-scale = 1">

    <meta name="description" content="Nuevo Encuentro">
    <meta name="author" content="Julian Lionti - No fue magia">
    <link rel="icon" href="../../favicon.ico">

    <title>Nuevo Encuentro</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Css/bootstrap.css" rel="stylesheet">
    <link href="~/Css/iniciarsesion.css" rel="stylesheet">
</head>
<body>
    @RenderBody()

    <script src="~/Js/jquery-3.0.0.js"></script>
    <script src="~/Js/bootstrap.js"></script>
  

    @RenderSection("scripts", false)
</body>
</html>