@{
    ViewBag.Title = "Asignar";
    Layout = "~/Views/Compartida/_layout.cshtml";
}

<h2>Asignar</h2>

<div class="container">
    <div class="row">
        <div class="col-md-6" id="cProductos">

        </div>
        <div class="col-md-6" id="cLocales">

        </div>
    </div>
</div>


@section scripts{

    <script type="text/javascript">

        

    </script>

}